/* CELULARES */

@media screen and (min-width: 280px){

    .txt1-banner{
        font-size: 3.6rem;
    }

    .txt2-banner{
        font-size: 1.1rem;
    }

    .btn a{
        font-size: 0.9rem;
        width: 120px;
        height: 40px;
    }

}

/* Tablets */

@media screen and (min-width: 768px){

    #burguer{
        display: none;
    }

    .logo{
        padding: 30px;
    }

    .main-nav{
        padding: 30px;
        display: block;
    }

    li{
        display: inline-block;
        border: 0;
    }

    nav a{
        border: 0;
        background-color: transparent;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .banner{
        margin-top: 160px;
        height: 300px;
    }

}


/* Desktops */

@media screen and (min-width: 1024px){

    .header{
        height: 12.5vh;
    }

    .banner{
        margin-top: 130px;
        width: 96%;
        height: 430px;
    }

    .txt1-banner{
        font-size: 8rem;
        letter-spacing: 4px;
    }

    .txt2-banner{
        font-size: 2.4rem;
    }

    .btn a{
        width: 180px;
        height: 40px;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .sobre{
        display: flex;
        flex-direction: row;
        width: 96%;
    }

    .img-sobre{
        width: 35%;
    }

    .txt-tittle-sobre{
        font-size: 2.8rem;
        text-align: start;
    }

    .txt-box-sobre{
        margin-top: 10px;
        margin-right: 130px;
        text-align: justify;
        width: 40%;
    }

    .exp{
        width: 96%;
    }

    .exp-group{
        display: flex;
        flex-direction: column;
    }

    .txt-tittle-exp{
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    .sub-tittle-exp{
        font-size: 1.8rem;
        text-align: start;
    }

    .date-exp{
        margin-top: 10px;
        font-size: 1.2rem;
        text-align: start;
    }

    .empresa-exp{
        margin-top: 20px;
        font-size: 1.6rem;
        text-align: start;
        margin-bottom: 12px;
    }

    .txt-exp{
        font-size: 1.3rem;
    }

    .projetos{
        width: 96%;
    }

    .tittle-projetos{
        font-size: 2.8rem;
    }

    .group-post{
        display: flex;
        flex-direction: row;
    }

    .post{
        width: 36%;
        margin-inline: 10px;
    }

    .links{
        width: 96%;
    }

    .tittle-links{
        margin-top: 10px;
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .contato{
        width: 96%;
    }

    .form{
        width: 40%;
    }

    .tittle-contato{
        margin-top: 20px;
        font-size: 2.8rem;
    }

    .input-box label{
        font-size: 1.3rem;
    }

    .input-box input{
        height: 40px;
    }

    .input-box textarea{
        height: 110px;
    }

    .button{
        margin-top: 30px;
        width: 180px;
        height: 36px;
        margin-bottom: 0%;
    }

    .footer{
        margin-top: 0%;
    }



}


/* TV's */

@media screen and (min-width: 1280px){

}