/* URL DE FONTES UTILIZADAS */
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/mishaland');


/* ZERANDO MARGENS E PADINGS DO PROJETO */

*{
    margin: 0;
    padding: 0;
}


/* ESTILIZANDO ESTRUTURA HTML */

html{
    scroll-behavior: smooth;
}


/* ESTILZANDO BODY DO PROJETO */

body{
    overflow-x: hidden;
    background-color: #212129;
}


/* ESTILIZANDO IMAGENS, IFRAMES, OBJECTS, EMBEDS E VÍDEOS DENTRO DO PROJETO */

img, iframe, object, embed, video{
    height: auto;
    max-width: 100%;
}


/* CLASSE PARA ESTILIZAÇÃO DE CONTAINERS */

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* ESTILIZANDO HEADER */

header{
    position:fixed;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color:#181717;
    z-index: 9;
}

.logo{
    padding: 10px;
    text-align:center;
    font-size: 2rem;
    font-family: 'Mishaland', sans-serif;
    font-weight: 100;
    color:#ffffff;
}

.logo a{
    padding: 10px;
    text-decoration: none;
    color:#ffffff;
}

#burguer{
    display: block;
    color: #f1f0f0;
    padding: 10px;
    cursor: pointer;
}

.sub-nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

nav{
    display: none;
}

nav ul{
    list-style-type: none;
}

nav a{
    align-items: end;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Calibri;
    font-size: 1.2rem;
    color: #f1f0f0;
    text-decoration: none;
}

nav a:hover{
    color:#ffe252;
    font-weight:bold;
}


/* ESTILIZANDO O BANNER DA PÁGINA INICIAL */

.banner{
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: #212129;
}

.txt1-banner{
    margin-top: 70px;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1px;
    font-weight:bold;
    color: #ffffff;
}

.txt2-banner{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color:#ffffff;
    font-weight:800;
}

.txt2-banner {
    overflow: hidden;
}
 
.txt2-banner {
    margin: 0 auto;
    border-right: 3px #ffffff; /* Linha vertical simulando o cursor de digitação */
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Oculta o texto que ainda não foi digitado */
    animation: typing 4.5s steps(360, end); /* Nome da animação, duração, efeito de passos */
}

@keyframes typing {
    from {
      width: 0%; /* Começa com largura zero (texto oculto) */
    }
    to {
      width: 100%; /* Termina com a largura total (texto completamente digitado) */
    }
}

.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: Calibri;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: #ff000d;
}

.btn a:hover{
    background-color:#be000a;
    box-shadow: #000000 0.6px 0.6px 1px;
}

/* CLASSES PARA ESTILO DA ABA "SOBRE" */

.sobre{
    width: 100%;
    padding: 10px;
    padding-top: 100px;
    margin: auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#212129;
}

.txt-tittle-sobre{
    text-align: center;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.txt-box-sobre{
    width: 80%;
    color: white;
    text-align: justify;
    font-family: Calibri Light;
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 14px;
}

.txt-sobre{
    margin-bottom: 30px;
}

.img-sobre{
    width: 80%;
    margin-bottom: 10px;
}


/* CLASSES PARA ESTILOS DA ABA "EXPERIÊNCIAS" */

.exp{
    padding: 10px;
    margin:  0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #212129;
}

.exp-group{
    padding-top: 80px;
    text-align: center;
    width: 86%;
    color: white;
    font-family: Calibri;
    margin-bottom: 30px;
}

.txt-tittle-exp{
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.sub-tittle-exp{
    font-size: 1.5rem;
    font-weight:800;
    letter-spacing: 1px;
}

.date-exp{
    margin-top: 10px;
    font-size: 1.1rem;
}

.empresa-exp{
    color: #ffe252;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 14px;
}

.txt-exp{
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 30px;
}


/* CLASSES PARA ESTILO DA ABA "PROJETOS" */

.projetos{
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background-color:#212129;
}

.tittle-projetos{
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
}

/* ESTILOS PARA EFEITO CAIXA OCULTA SOB OS POSTS DE PROJETO */

.posts{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.caixa {
    position: relative;
    display: grid;
    width: 90%;
    margin-bottom: 20px;
}

.caixa img{
    width: 100%;
    height: auto;
}

.sobreposicao{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s ease;
    background-color:#000000;
    }

.caixa:hover .sobreposicao {
    opacity: 85%;
    transition: 0.4s;
}

/* ESTILO DO TEXTO OCULTO */
.texto {
    font-family: Bebas Neue;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projetos h3{
    font-family: Bebas Neue;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.projetos a{
    color: #ffffff;
    text-decoration: none;
}

.desc{
    font-family: Calibri;
    font-size: 1rem;
    text-align: center;
}


/* CLASSES PARA ESTILO DA ABA "LINKS" */

.links{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #212129;
}

.group-links{
    transform: translateY(16%);
    width: 100%;
    height: 100vh;
}

.tittle-links{
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.link-box{
    width: 96%;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color:#385172;
}

.link-box a{
    font-family: calibri;
    font-size: 1.8rem;
    color:#ffffff;
    text-decoration: none;
    align-items: center;
}

.link-box:hover{
    background-color: #23354D;
    box-shadow: 0.5px 1.5px 0.5px #181818;
}

/* CLASSES PARA ESTILO DA ABA "CONTATO" */

.contato{
    margin: 0 auto;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
    background-color: #212129;
}

.form{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.tittle-contato{
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.input-box{
    margin: 0 auto;
    display: grid;  
}

.input-box input{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height: 45px;
    border-radius: 0.4rem;
    margin-bottom: 20px;
    border: none;
    background-color:#e4e4e4;
}

.input-box label{
    text-align: center;
    margin-bottom: 10px;
    color:#ffffff;
    font-family: Calibri;
    font-size: 1.2rem;
}

.input-box textarea{
    text-align: center;
    margin: 0 auto;
    resize: none;
    width: 90%;
    height: 120px;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 20px;
    background-color:#e4e4e4;
}

strong{
    font-weight: 100;
    color: #ff000d;
}

/* ESTILIZANDO BOTAO DE ENVIO DO FORMULARIO */

.button{
    font-family: Calibri;
    font-size: 1.4rem;
    margin-top: 1rem;
    width: 40%;
    height: 40px;
    border: none;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color:#ffffff;
}

/* ESTILIZANDO O RODAPÉ */

.footer{
    color: #ffffff;
    font-family: calibri light;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align:center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#181717;
}


/* ********* MEDIA QUERIES ********* */

/* Tablets */
 
@media screen and (min-width: 768px){

    /* AJUSTES DO CABEÇALHO */

    .header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        padding: 30px;
    }

    #burguer{
        display: none;
    }

    .main-nav{
        padding: 30px;
        display: block;
    }

    li{
        display: inline-block;
        border: 0;
    }

    nav a{
        padding: 6px;
        font-size: 1.4rem;
        border: 0;
    }

    /* AJUSTES DA SEÇÃO BANNER */

    section.banner{
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .txt1-banner {
        font-size: 8rem;
    }

    .txt2-banner {
        font-size: 2.5rem;
    }

    .btn a{
        font-size: 1.4rem;
        width: 200px;
        height: 50px;
    }

    /* AJUSTES DA SEÇÃO SOBRE */

    .txt-tittle-sobre{
        font-size: 4rem;
    }

    .txt-box-sobre{
        font-size: 1.5rem;
        line-height: 40px;
        padding-top: 40px;
    }

    /* AJUSTES DA SEÇÃO EXPERIENCIAS */

    .txt-tittle-exp{
        font-size: 4rem;
    }

    .exp-group {
        padding-top: 130px;
    }

    .sub-tittle-exp{
        font-size: 2rem;
    }

    .date-exp {
        font-size: 1.5rem;
    }

    .empresa-exp{
        margin-top: 30px;
        font-size: 1.6rem;
    }

    .txt-exp{
        font-size: 1.5rem;
        line-height: 40px;
    }

    /* AJUSTES DA SEÇÃO PROJETOS */

    .projetos{
        display: flex;
        flex-direction: column;
        padding-top: 110px;
    }

    .tittle-projetos{
        font-size: 4rem;
        padding: 0;
    }

    .caixa{
        width: 80%;
    }

    /* AJUSTES DA SEÇÃO DE LINKS */

    .tittle-links{
        font-size: 4rem;
    }

    .group-links{
        margin-top: 20px;
        padding: 10px;
    }

    .link-box{
        margin-bottom: 20px;
        height: 110px;
    }


    /* AJUSTES DA SEÇÃO CONTATO  */

    .form{
        margin-top: 50px;
        margin-bottom: 10px;
    }


    .input-box{
        margin: 0 auto;
        width: 90%;
        padding: 0;
    }

    .tittle-contato{
        font-size: 4rem;
        width: 100%;
        margin-bottom: 50px;
    }

    .input-box label{
        font-size: 1.8rem;
    }

    .input-box input{
        font-size: 1.5rem;
        height: 60px;
        margin-bottom: 50px;
    }

    .input-box textarea {
        font-size: 1.5rem;
        height: 200px;

    }

    .button{
        width: 30%;
        height: 50px;
    }

    .footer{
        font-size: 1.5rem;
    }

}

/* Desktops */
/* 
@media screen and (min-width: 1024px){

    .header{
        height: 12.5vh;
    }

    .banner{
        margin-top: 130px;
        width: 96%;
        height: 430px;
    }

    .txt1-banner{
        font-size: 8rem;
        letter-spacing: 4px;
    }

    .txt2-banner{
        font-size: 2.4rem;
    }

    .btn a{
        width: 180px;
        height: 40px;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .sobre{
        padding-top: 110px;
        display: flex;
        flex-direction: row;
        width: 96%;
    }

    .img-sobre{
        width: 35%;
    }

    .txt-tittle-sobre{
        font-size: 2.8rem;
        text-align: start;
    }

    .txt-box-sobre{
        margin-top: 10px;
        margin-right: 130px;
        text-align: justify;
        width: 40%;
    }

    .exp{
        padding-top: 56px;
        width: 96%;
    }

    .exp-group{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .txt-tittle-exp{
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    .sub-tittle-exp{
        font-size: 1.8rem;
    }

    .date-exp{
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .empresa-exp{
        margin-top: 20px;
        font-size: 1.6rem;
        margin-bottom: 12px;
    }

    .txt-exp{
        width: 70%;
        font-size: 1.2rem;
    }

    .projetos{
        padding-top: 66px;
        width: 96%;
    }

    .tittle-projetos{
        font-size: 2.8rem;
    }

    .group-post{
        display: flex;
        flex-direction: row;
    }

    .post{
        width: 36%;
        margin-inline: 10px;
    }

    .links{
        padding-top: 50px;
        width: 96%;
    }

    .tittle-links{
        font-size: 2.8rem;
    }

    .contato{
        margin-bottom: 0;
        padding-top: 40px;
        width: 96%;
    }

    .form{
        margin-bottom: 0;
        width: 40%;
    }

    .tittle-contato{
        margin-top: 20px;
        font-size: 2.8rem;
    }

    .input-box label{
        font-size: 1.3rem;
    }

    .input-box input{
        height: 40px;
    }

    .input-box textarea{
        height: 140px;
    }

    .button{
        margin-top: 30px;
        width: 180px;
        height: 36px;
        margin-bottom: 0%;
    }

    .footer{
        margin-top: 0%;
    }
} */