/* URL DE FONTES UTILIZADAS */
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/mishaland');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #212129;
}

img,
iframe,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* ESTILOS HEADER E NAVBAR */

header {
    position: fixed;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #181717;
    z-index: 9;
}

.logo {
    padding: 10px;
    padding-left: 20px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    font-family: 'Mishaland', sans-serif;
}

#menu-burguer {
    display: block;
    color: #f1f0f0;
    padding: 10px;
    cursor: pointer;
    font-size: 2.2rem;
}

.nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: none;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    align-items: end;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Calibri;
    font-size: 1.2rem;
    color: #f1f0f0;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffe252;
    font-weight: bold;
}


/* ESTILOS BANNER PRINCIPAL */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-family: 'Bebas Neue';
}

.title-banner {
    margin-top: 70px;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.subtitle-banner {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 800;
    margin: 0 auto;
    border-right: 3px #FFF;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4.5s steps(360, end);
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.btn-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: Calibri;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 200px;
    height: 44px;
    border-radius: 2px;
    background-color: #ff000d;
}

.btn-banner a:hover {
    box-shadow: #000000 0.6px 0.6px 1px;
}

/* ESTILOS SESSÃO SOBRE */

.sobre {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #212129;
}

.text-group-sobre {
    width: 80%;
    color: white;
    text-align: justify;
    font-family: Calibri Light;
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 14px;
}

.title-sobre {
    text-align: center;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.paragrafo-sobre {
    margin-bottom: 30px;
}

.img-sobre {
    width: 80%;
    margin-bottom: 10px;
}


/* ESTILOS DA SESSÃO "EXPERIÊNCIAS" */

.exp {
    width: 100%;
    padding: 30px auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #212129;
}

.exp-group {
    padding-top: 80px;
    text-align: center;
    width: 86%;
    color: white;
    font-family: Calibri;
    margin-bottom: 30px;
}

.job {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.title-exp {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.cargo {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: min(1.6rem, 1.8rem);
}

.tempo {
    margin-top: 10px;
    font-size: min(1.2rem, 1.4rem);
}

.empresa {
    color: #ffe252;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 14px;
}

.atividades {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 30px;
}


/* ESTILOS DA SESSÃO "PROJETOS" */

.projetos {
    margin: 0 auto;
    width: 100%;
    background-color: #212129;
}

.title-projetos {
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
}

.posts {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-projeto {
    width: 48%;
    display: grid;
    position: relative;
    margin-bottom: 20px;
}

.box-projeto img {
    width: 100%;
    height: auto;
}

.informacoes {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease;
    background-color: #000000;
}

.box-projeto:hover .informacoes {
    opacity: 85%;
    cursor: pointer;
    transition: 0.4s;
}

.conteudo {
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    font-family: 'Bebas Neue';
    transform: translate(-50%, -50%);
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.titulo {
    font-family: Bebas Neue;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.descricao {
    font-family: Calibri;
    font-size: 1rem;
    text-align: center;
}


/* ESTILOS DA DA SESSÃO "LINKS" */

.links {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #212129;
}

.group-links {
    transform: translateY(16%);
    width: 90%;
    margin: 0 auto;
}

.title-links {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.link-box {
    width: 96%;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #385172;
}

.link-box a {
    font-family: calibri;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

.link-box:hover {
    background-color: #23354D;
    box-shadow: 0.5px 1.5px 0.5px #181818;
}

/* ESTILOS DA SESSÃO "CONTATO" */

.contato {
    margin: 0 auto;
    width: 100%;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #212129;
}

.form {
    margin: 0;
    width: 100%;
}

.input-group {
    padding: 40px;
}

.title-contato {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.input-box {
    margin: 0 auto;
    display: grid;
}

.input-box input {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    background-color: #e4e4e4;
}

.input-box label {
    text-align: start;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Calibri';
    font-size: .9rem;
}

.input-box textarea {
    text-align: center;
    margin: 0 auto;
    resize: none;
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: #e4e4e4;
}

strong {
    font-weight: 100;
    color: #ff000d;
}

.form-btn {
    width: 100%;
    border: none;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 2px;
    font-family: 'Calibri';
    background-color: #FFF;
}

/* ESTILOS DA SESSÃO RODAPÉ */

.footer {
    color: #ffffff;
    font-family: calibri light;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181717;
}


/* ********* MEDIA QUERIES ********* */

/* Tablets */

@media screen and (min-width: 768px) {

    /* AJUSTES DO CABEÇALHO */

    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding: 30px;
    }

    #burguer {
        display: none;
    }

    .navbar {
        padding: 30px;
        display: block;
    }

    li {
        display: inline-block;
        border: 0;
    }

    nav a {
        padding: 6px;
        font-size: 1.4rem;
        border: 0;
    }

    /* AJUSTES DA SEÇÃO BANNER */

    section.banner {
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .txt1-banner {
        font-size: 8rem;
    }

    .txt2-banner {
        font-size: 2.5rem;
    }

    .btn a {
        font-size: 1.4rem;
        width: 200px;
        height: 50px;
    }

    /* AJUSTES DA SEÇÃO SOBRE */

    .txt-tittle-sobre {
        font-size: 4rem;
    }

    .txt-box-sobre {
        font-size: 1.5rem;
        line-height: 40px;
        padding-top: 40px;
    }

    /* AJUSTES DA SEÇÃO EXPERIENCIAS */

    .txt-tittle-exp {
        font-size: 4rem;
    }

    .exp-group {
        padding-top: 130px;
    }

    .sub-tittle-exp {
        font-size: 2rem;
    }

    .date-exp {
        font-size: 1.5rem;
    }

    .empresa-exp {
        margin-top: 30px;
        font-size: 1.6rem;
    }

    .txt-exp {
        font-size: 1.5rem;
        line-height: 40px;
    }

    /* AJUSTES DA SEÇÃO PROJETOS */

    .projetos {
        display: flex;
        flex-direction: column;
        padding-top: 110px;
    }

    .tittle-projetos {
        font-size: 4rem;
        padding: 0;
    }

    .box-projeto {
        width: 80%;
    }

    /* AJUSTES DA SEÇÃO DE LINKS */

    .tittle-links {
        font-size: 4rem;
    }

    .group-links {
        margin-top: 20px;
        padding: 10px;
    }

    .link-box {
        margin-bottom: 20px;
        height: 110px;
    }


    /* AJUSTES DA SEÇÃO CONTATO  */

    .form {
        margin-top: 50px;
        margin-bottom: 10px;
    }


    .input-box {
        margin: 0 auto;
        width: 90%;
        padding: 0;
    }

    .tittle-contato {
        font-size: 4rem;
        width: 100%;
        margin-bottom: 50px;
    }

    .input-box label {
        font-size: 1.8rem;
    }

    .input-box input {
        font-size: 1.5rem;
        height: 60px;
        margin-bottom: 50px;
    }

    .input-box textarea {
        font-size: 1.5rem;
        height: 200px;

    }

    .button {
        width: 30%;
        height: 50px;
    }

    .footer {
        font-size: 1.5rem;
    }

}

/* Desktops */

@media screen and (min-width: 1024px) {

    .header {
        height: 12vh;
    }

    .logo {
        font-size: 2.2rem;
    }

    .nav {
        font-size: 1.3rem;
        margin-left: 24px;
    }

    .txt1-banner {
        text-align: center;
        font-size: 8rem;
        letter-spacing: 4px;
    }

    .txt2-banner {
        font-size: 2.4rem;
    }

    .btn a {
        width: 160px;
        height: 40px;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .sobre {
        padding: 30px;
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 96%;
    }

    .txt-box-sobre {
        padding: 0px;
        text-align: justify;
        width: 50%;
    }

    .txt-tittle-sobre {
        font-size: 2.8rem;
        text-align: start;
    }

    .paragrafo-sobre {
        font-size: 1.25rem;
        margin-bottom: 4px;
    }

    .img-sobre {
        margin: 0;
        width: 35%;
    }

    .exp {
        padding: 30px;
        width: 96%;
    }

    .exp-group {
        padding-top: 60px;
        width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .txt-tittle-exp {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    .sub-tittle-exp {
        font-size: 2rem;
    }

    .date-exp {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .empresa-exp {
        margin-top: 30px;
        font-size: 1.8rem;
        margin-bottom: 12px;
    }

    .txt-exp {
        margin: 0 auto;
        width: 84%;
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        width: 96%;
    }

    .tittle-projetos {
        font-size: 2.8rem;
    }

    .posts {
        display: flex;
        flex-direction: row;
    }

    .box-projeto {
        width: 36%;
        margin-inline: 10px;
    }

    .links {
        margin-top: 0;
        padding-top: 0;
        padding: 0;
        width: 96%;
        height: 90vh;
    }

    .group-links {
        padding-top: 0;
        margin-top: 0;
        width: 80%;
    }

    .tittle-links {
        margin-top: 0;
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .link-box {
        margin-top: 0;
        margin-bottom: 10px;
        height: 78px;
    }

    .contato {
        margin-bottom: 0;
        padding-top: 10px;
        width: 96%;
    }

    .form {
        width: 60%;
    }

    .tittle-contato {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .input-box label {
        font-size: 1.3rem;
    }

    .input-box input {
        font-size: 1rem;
        width: 80%;
        height: 40px;
        margin-bottom: 30px;
    }

    .input-box textarea {
        font-size: 1.2rem;
        width: 80%;
        height: 100px;
        margin-bottom: 10px;
    }

    .button {
        width: 180px;
        height: 36px;
        margin-bottom: 0;
    }

    .footer {
        margin-top: 10px;
        width: 100%;
        height: 1vh;
    }

}