/* URL DE FONTES UTILIZADAS */
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/mishaland');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #212129;
}

img,
iframe,
object,
embed,
video {
    height: auto;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* ESTILOS HEADER E NAVBAR */

header {
    position: fixed;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #181717;
    z-index: 9;
}

.logo {
    padding: 10px;
    padding-left: 20px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    font-family: 'Mishaland', sans-serif;
}

#menu-burguer {
    display: block;
    color: #f1f0f0;
    padding: 10px;
    cursor: pointer;
    font-size: 2.2rem;
}

.nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: none;
}

.navbar ul {
    list-style-type: none;
}

.nav {
    align-items: end;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Calibri;
    font-size: 1.2rem;
    color: #f1f0f0;
    text-decoration: none;
}

.nav:hover {
    color: #ffe252;
    font-weight: bold;
}


/* ESTILOS BANNER PRINCIPAL */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-family: 'Bebas Neue';
}

.title-banner {
    margin-top: 70px;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.subtitle-banner {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 800;
    margin: 0 auto;
    border-right: 3px #FFF;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4.5s steps(360, end);
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.btn-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: Calibri;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 200px;
    height: 44px;
    border-radius: 2px;
    background-color: #ff000d;
}

.btn-banner a:hover {
    box-shadow: #000000 0.6px 0.6px 1px;
}

/* ESTILOS SEÇÃO SOBRE */

.sobre {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-group-sobre {
    width: 80%;
    color: white;
    text-align: justify;
    font-family: Calibri Light;
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 14px;
}

.title-sobre {
    text-align: center;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.paragrafo-sobre {
    margin-bottom: 30px;
}

.img-sobre {
    width: 80%;
    margin-bottom: 10px;
}


/* ESTILOS DA SEÇÃO "EXPERIÊNCIAS" */

.exp {
    width: 100%;
    padding: 30px auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.exp-group {
    padding-top: 80px;
    text-align: center;
    width: 86%;
    color: white;
    font-family: Calibri;
    margin-bottom: 30px;
}

.job {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.title-exp {
    margin-top: 30px;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.cargo {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: min(1.6rem, 1.8rem);
}

.tempo {
    margin-top: 10px;
    font-size: min(1.2rem, 1.4rem);
}

.empresa {
    color: #ffe252;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 14px;
}

.atividades {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 30px;
}


/* ESTILOS DA SEÇÃO "PROJETOS" */

.projetos {
    margin: 0 auto;
    padding: 30px auto;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title-projetos {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 80px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.posts {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-projeto {
    width: 48%;
    display: grid;
    position: relative;
    margin-bottom: 20px;
}

.box-projeto img {
    width: 100%;
    height: auto;
}

.informacoes {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease;
    background-color: #000000;
}

.box-projeto:hover .informacoes {
    opacity: 85%;
    cursor: pointer;
    transition: 0.4s;
}

.conteudo {
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    font-family: 'Bebas Neue';
    transform: translate(-50%, -50%);
}

.link {
    color: #FFF;
    text-decoration: none;
}

.titulo {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-family: 'Bebas Neue';
}

.descricao {
    font-family: Calibri;
    font-size: 1rem;
    text-align: center;
}


/* ESTILOS DA DA SEÇÃO "LINKS" */

.links {
    width: 100%;
    height: 95dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    background-color: #212129;
}

.group-links {
    transform: translateY(16%);
    width: 90%;
    margin: 0 auto;
}

.title-links {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.link-box {
    width: 96%;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #385172;
}

.link-box a {
    font-family: calibri;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

.link-box:hover {
    background-color: #23354D;
    box-shadow: 0.5px 1.5px 0.5px #181818;
}

/* ESTILOS DA SEÇÃO "CONTATO" */

.contato {
    margin: 0 auto;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: #212129;
}

.form {
    margin: 0;
    width: 100%;
}

.input-group {
    padding: 40px;
}

.title-contato {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue';
}

.input-box {
    margin: 0 auto;
    display: grid;
}

.input-box label {
    text-align: start;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Calibri';
    font-size: 1.2rem;
}

strong {
    font-weight: 100;
    color: #ff000d;
}

.input-box input {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    font-size: 1.2rem;
    background-color: #e4e4e4;
}

.input-box textarea {
    text-align: center;
    margin: 0 auto;
    resize: none;
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #e4e4e4;
}

.form-btn {
    width: 100%;
    border: none;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 2px;
    font-family: 'Calibri';
    background-color: #FFF;
}

/* ESTILOS DA SEÇÃO RODAPÉ */

.footer {
    width: 100%;
    color: #FFF;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 14px;
    text-align: justify;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181717;
    font-family: Calibri light;
}

#ano-atual {
    margin: auto 8px;
}


/* ********* MEDIA QUERIES ********* */

/* Tablets */

@media screen and (min-width: 768px) {

    /* SEÇÃO HEADER/NAVBAR */

    .logo {
        padding: 40px;
        font-size: 2.5rem;
    }

    .nav-brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #menu-burguer {
        padding: 40px;
        font-size: 3rem;
    }

    .navbar {
        display: none;
    }

    li {
        border: 0;
        font-size: 2rem;
    }

    .nav {
        padding: 14px;
        font-size: 1.6rem;
        border: 0;
    }


    /* SEÇÃO BANNER PRINCIPAL */

    .banner {
        width: 100%;
        height: 100vh;
    }

    .title-banner {
        font-size: 8rem;
    }

    .subtitle-banner {
        font-size: 2.5rem;
    }

    .btn-banner a {
        width: 260px;
        height: 65px;
        font-size: 1.6rem;
        border-radius: 4px;
    }


    /* SEÇÃO SOBRE */

    .text-group-sobre {
        padding-top: 140px;
    }

    .title-sobre {
        font-size: 4rem;
        margin-bottom: 50px;
    }

    .paragrafo-sobre {
        font-size: 1.8rem;
        line-height: 45px;
    }


    /* SEÇÃO EXPERIENCIAS */

    .exp-group {
        padding-top: 140px;
    }

    .title-exp {
        font-size: 4rem;
        margin-bottom: 50px;
    }

    .cargo {
        font-size: 2.2rem;
    }

    .tempo {
        font-size: 1.6rem;
    }

    .empresa {
        margin-top: 40px;
        font-size: 2rem;
    }

    .atividades {
        font-size: 1.8rem;
        line-height: 45px;
    }


    /* SEÇÃO PROJETOS */

    .projetos {
        padding-top: 170px;
    }

    .title-projetos {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .posts {
        display: flex;
        flex-direction: row;
    }

    .box-projeto {
        width: 48%;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .descricao {
        font-size: 1.5rem;
    }


    /* SEÇÃO LINKS */

    .title-links {
        font-size: 4rem;
    }

    .link-box {
        height: 120px;
        margin-bottom: 20px;
    }

    .link-box a {
        font-size: 2.2rem;
    }


    /* SEÇÃO CONTATO  */

    .form {
        text-align: center;
        margin-top: 120px;
        margin-bottom: 10px;
    }

    .input-box {
        margin: 0 auto;
        width: 90%;
        padding: 0;
    }

    .title-contato {
        font-size: 4rem;
        margin-bottom: 50px;
    }

    .input-box label {
        font-size: 1.8rem;
    }

    .input-box input {
        height: 80px;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .input-box textarea {
        height: 200px;
        padding-top: 25px;
        font-size: 1.6rem;
    }

    .form-btn {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        font-size: 2rem;
        margin-top: 20px;
    }


    /* SEÇÃO FOOTER */

    .footer {
        /* padding: 35px 0; */
        font-size: 2rem;
    }

}

/* Desktops */

@media screen and (min-width: 1024px) {

    /* SEÇÃO HEADER/NAVBAR */

    .header {
        display: grid;
        height: 100px;
    }

    .logo {
        padding: 0 20px;
        font-size: 2.4rem;
    }

    #menu-burguer {
        display: none;
    }

    nav {
        padding: 0 30px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .navbar {
        display: block;
    }

    .nav-list {
        display: flex;
    }

    .nav {
        font-size: 1.3rem;
        margin-left: 24px;
    }


    /* SEÇÃO BANNER PRINCIPAL */

    .banner {
        margin-top: 25px;
    }

    .title-banner {
        text-align: center;
        font-size: 8rem;
        letter-spacing: 4px;
    }

    .subtitle-banner {
        font-size: 2.4rem;
    }

    .btn-banner a {
        width: 260px;
        height: 50px;
        border-radius: 2px;
        font-size: 1.2rem;
    }


    /* SEÇÃO SOBRE */

    .sobre {
        /* padding: 30px; */
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }

    .text-group-sobre {
        padding: 0px;
        text-align: justify;
        width: 60%;
        padding-right: 15px;
    }

    .title-sobre {
        font-size: 4rem;
        text-align: start;
    }

    .paragrafo-sobre {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .img-sobre {
        margin-top: 110px;
        width: 35%;
    }



    /* SEÇÃO EXPERIÊNCIAS */

    /* .exp {
        padding-top: 0px;
    } */

    .exp-group {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title-exp {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .cargo {
        font-size: 2rem;
    }

    .tempo {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .empresa {
        margin-top: 45px;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .atividades {
        width: 80%;
        margin: 0 auto;
        font-size: 1.4rem;
        margin-bottom: 30px;
    }


    /* SEÇÃO PROJETOS */

    .projetos {
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        /* width: 96%; */
    }

    .title-projetos {
        font-size: 4rem;
    }

    .posts {
        display: flex;
        flex-direction: row;
    }

    .box-projeto {
        width: 30%;
    }


    /* SEÇÃO DE LINKS */

    .links {
        margin-top: 60px;
    }

    .group-links {
        width: 60%;
    }

    .title-links {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .link-box {
        height: 75px;
        margin-bottom: 10px;
    }


    /* SEÇÃO CONTATO */

    .contato {
        padding-top: 100px;
    }

    .form {
        margin: 0 auto;
        width: 50%;
    }

    .title-contato {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .input-box label {
        font-size: 1.3rem;
    }

    .input-box input {
        height: 45px;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .input-box textarea {
        height: 100px;
        padding-top: 15px;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .form-btn {
        width: 90%;
        height: 50px;
        margin-top: 10px;
        font-size: 1.4rem;
        margin-bottom: 80px;
    }


    /* SEÇÃO FOOTER */

    .footer {
        width: 100%;
        margin-top: 10px;
        font-size: 1.4rem;
    }

}